<!DOCTYPE html>
<html lang="it">
    <head>
        <title>Conjector</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Andrea Pagliarani">
        <meta name="date" content="2021-01-01">
        <meta name="description" content="Conjector: il social per le macchine, fatto da umani">
    <script defer src="/scripts/login.bundle.js?c8941ca548c512ebca06"></script><link href="/scripts/../css/login.css?c8941ca548c512ebca06" rel="stylesheet"></head>
    <body>
        <nav></nav>
        <dialog></dialog>
        <section></section>
        <footer>Conjector @2021 Andrea Pagliarani</footer>
    </body>
</html>